 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1059px;
}

.u-section-1 .u-image-1 {
  width: 1100px;
  height: 911px;
  margin: 117px auto 0;
}

.u-section-1 .u-group-1 {
  width: 575px;
  min-height: 253px;
  margin: -714px 0 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 927px;
  }

  .u-section-1 .u-image-1 {
    width: 627px;
    height: 779px;
  }

  .u-section-1 .u-group-1 {
    width: 444px;
    margin-top: -582px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 35px;
    padding-right: 35px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 972px;
  }

  .u-section-1 .u-image-1 {
    width: 680px;
    height: 542px;
  }

  .u-section-1 .u-group-1 {
    width: 600px;
    min-height: 382px;
    margin-top: -400px;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 844px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 416px;
  }

  .u-section-1 .u-group-1 {
    width: 461px;
    min-height: 359px;
    margin-top: -251px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 639px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 262px;
  }

  .u-section-1 .u-group-1 {
    min-height: 295px;
    width: 295px;
    margin-top: -85px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
} .u-section-2 {
  background-image: linear-gradient(#808080, #090c25);
}

.u-section-2 .u-sheet-1 {
  min-height: 1214px;
}

.u-section-2 .u-text-1 {
  margin: 20px auto 0 15px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1100px;
  margin: 20px auto 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 654px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  height: 521px;
  margin-top: 67px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 282px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-2 .u-text-2 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 372px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 30px 14px;
}

.u-section-2 .u-text-3 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 235px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 15px 30px 30px;
}

.u-section-2 .u-text-4 {
  margin: 0 auto;
}

.u-section-2 .u-image-2 {
  height: 43px;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-text-5 {
  font-style: italic;
  margin: 15px 0 0;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 235px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 15px;
}

.u-section-2 .u-text-6 {
  margin: 0 auto;
}

.u-section-2 .u-image-3 {
  height: 53px;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-text-7 {
  font-style: italic;
  margin: 5px auto 0;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 235px;
}

.u-section-2 .u-container-layout-6 {
  padding: 5px 30px 0 15px;
}

.u-section-2 .u-text-8 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-layout-wrap-2 {
  width: 1100px;
  margin: 0 auto 30px;
}

.u-section-2 .u-layout-cell-7 {
  min-height: 235px;
}

.u-section-2 .u-container-layout-7 {
  padding: 5px 30px;
}

.u-section-2 .u-text-9 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-text-10 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-8 {
  min-height: 235px;
}

.u-section-2 .u-container-layout-8 {
  padding: 0 30px;
}

.u-section-2 .u-text-11 {
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1193px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 559px;
  }

  .u-section-2 .u-image-1 {
    height: 445px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 241px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 318px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 201px;
  }

  .u-section-2 .u-image-2 {
    height: 36px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 201px;
  }

  .u-section-2 .u-image-3 {
    height: 45px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 201px;
  }

  .u-section-2 .u-layout-wrap-2 {
    position: relative;
    width: 940px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 201px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 201px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 6px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 428px;
  }

  .u-section-2 .u-image-1 {
    height: 341px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-image-2 {
    height: 26px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-2 .u-image-3 {
    height: 33px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-wrap-2 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 864px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 482px;
  }

  .u-section-2 .u-image-1 {
    height: 384px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 69px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 82px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-wrap-2 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 412px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 303px;
  }

  .u-section-2 .u-image-1 {
    height: 242px;
  }

  .u-section-2 .u-image-2 {
    height: 42px;
  }

  .u-section-2 .u-image-3 {
    height: 50px;
  }

  .u-section-2 .u-layout-wrap-2 {
    width: 340px;
  }
} .u-section-3 {
  background-image: linear-gradient(#090c25, #dfc7c7);
}

.u-section-3 .u-sheet-1 {
  min-height: 651px;
}

.u-section-3 .u-text-1 {
  margin-bottom: 0;
  margin-right: 15px;
  margin-left: auto;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 40px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 535px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-3 .u-text-2 {
  margin: 0 10px 0 20px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 535px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 1px;
}

.u-section-3 .u-image-1 {
  height: auto;
  margin: 0;
}

.u-section-3 .u-image-2 {
  width: 286px;
  height: 286px;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 441px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 441px;
  }

  .u-section-3 .u-image-1 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 338px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 507px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 319px;
  }
} .u-section-4 {
  background-image: linear-gradient(#dfc7c7, #6799d5);
}

.u-section-4 .u-sheet-1 {
  min-height: 633px;
}

.u-section-4 .u-text-1 {
  margin-bottom: 0;
  margin-left: 15px;
  margin-top: 20px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 40px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 266px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  width: 533px;
  height: 241px;
  margin: 9px auto 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 266px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-image-2 {
  width: 491px;
  height: 129px;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 531px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  margin-bottom: 0;
  margin-top: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 219px;
  }

  .u-section-4 .u-image-1 {
    width: 463px;
    height: 209px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 219px;
  }

  .u-section-4 .u-image-2 {
    width: 463px;
    height: 122px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 438px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 168px;
  }

  .u-section-4 .u-image-1 {
    width: 353px;
    height: 159px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 168px;
  }

  .u-section-4 .u-image-2 {
    width: 353px;
    height: 93px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 858px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 252px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 252px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 518px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 159px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 153px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 159px;
  }

  .u-section-4 .u-image-2 {
    width: 340px;
    height: 90px;
  }
} .u-section-5 {
  background-image: linear-gradient(#6799d5, #6a5d93);
}

.u-section-5 .u-sheet-1 {
  min-height: 712px;
}

.u-section-5 .u-text-1 {
  margin: 20px 250px 0 auto;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 570px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 30px 22px;
}

.u-section-5 .u-text-2 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 310px;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-image-1 {
  width: 403px;
}

.u-section-5 .u-image-2 {
  min-height: 260px;
  background-image: url("images/61661a4f-2924-47cc-aa1c-22862c87926f.png");
  background-position: 50% 0%;
}

.u-section-5 .u-container-layout-3 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 536px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 470px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 256px;
  }

  .u-section-5 .u-image-2 {
    min-height: 214px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 191px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 196px;
  }

  .u-section-5 .u-image-2 {
    min-height: 164px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 858px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 143px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 294px;
  }

  .u-section-5 .u-image-2 {
    min-height: 246px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 577px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 90px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 185px;
  }

  .u-section-5 .u-image-2 {
    min-height: 155px;
  }
} .u-section-6 {
  background-image: linear-gradient(#6a5d93, #090c25);
}

.u-section-6 .u-sheet-1 {
  min-height: 861px;
}

.u-section-6 .u-text-1 {
  margin-bottom: 0;
  margin-left: 20px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 281px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-image-1 {
  height: auto;
  margin-top: 44px;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 368px;
}

.u-section-6 .u-container-layout-2 {
  padding: 0;
}

.u-section-6 .u-image-2 {
  height: auto;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 561px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-text-2 {
  margin-bottom: 0;
  margin-top: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 701px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 232px;
  }

  .u-section-6 .u-image-1 {
    height: NaNpx;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 303px;
  }

  .u-section-6 .u-image-2 {
    height: NaNpx;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 463px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 613px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 178px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 232px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1194px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 267px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 348px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 871px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 168px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 219px;
  }
} .u-section-7 {
  background-image: linear-gradient(#090c25, #e5e5e5);
}

.u-section-7 .u-sheet-1 {
  min-height: 657px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 630px;
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-7 .u-text-2 {
  margin: 10px auto 0 0;
}

.u-section-7 .u-image-1 {
  height: 332px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 627px;
  background-image: none;
}

.u-section-7 .u-container-layout-2 {
  padding: 0 30px 30px;
}

.u-section-7 .u-text-3 {
  margin-bottom: 0;
  margin-top: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 557px;
  }

  .u-section-7 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 519px;
  }

  .u-section-7 .u-image-1 {
    height: 267px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 517px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-image-1 {
    height: 195px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-1 {
    height: 338px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-7 .u-image-1 {
    height: 208px;
  }
} .u-section-8 {
  background-image: linear-gradient(#e5e5e5, #6a5d93);
}

.u-section-8 .u-sheet-1 {
  min-height: 500px;
}

.u-section-8 .u-layout-wrap-1 {
  width: 1100px;
  margin: 60px auto;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 200px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 224px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-text-2 {
  margin: 0;
}

.u-section-8 .u-layout-cell-3 {
  min-height: 424px;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px;
}

.u-section-8 .u-image-1 {
  width: 365px;
  height: 364px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-8 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 171px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 191px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 362px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 277px;
  }

  .u-section-8 .u-image-1 {
    width: 300px;
    height: 299px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 858px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 416px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 577px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 262px;
  }
}